*{
    font-size: 60px;
}

#box1 {
    background-color:mediumpurple;
    width: 300px;
    padding: 30px;
    border: 10px solid black;
}

/* width = total size */
 /* (300px - 60 - 20) */
 /* 220px + 60px + 20px = 300px */

#box2 {
    background-color:rgb(236, 178, 248);
    width: 300px;
    padding: 30px;
    border: 10px solid black;
    box-sizing: border-box;
}